.container{

    padding-top: 80px;
    padding-left: 100px;
    font-size: 25px;
    font-family: "Comic Sans MS";
    text-shadow: 0px 0px 10px rgba(255, 1, 1, 0.281);
    color: rgb(114, 70, 70);
    
}