

#searchBox{ 
    height: 8%;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 255, 255);
    padding: 50px 50px 50px;
    border-width: 15px;
    border-radius: 25px;
}

#searchBox:hover{ /* The box displays the search Should be either at the top or bottom*/
    background-color: rgba(0, 255, 255, 0.699);
}

#SeachLabel{/**/
    font-size: 20px;
    font-weight: bold;
    font-family: "Comic Sans MS";
    text-shadow: 5px 0px 10px rgb(143, 127, 127);
}

#inputBox{
/**/
height: 30px;
border-radius: 5px;
padding-left: 10px;
font-weight: bold;
font-family:"Comic Sans MS" ;
background-color: rgba(76, 150, 153, 0.658);
font-size: 20px;
}

#inputBox:hover{
    /**/
    background-color: rgba(122, 183, 185, 0.658);
    }


#Button{
/**/
background-color: rgb(177, 153, 199);
font-size: medium;
font-weight: bold;
font-family: "Comic Sans MS";
text-shadow: 2px 0px 8px rgb(241, 241, 241);
border-radius: 10px;
padding: 5px;
height: 40px;
}
#Button:hover{
    /**/
    background-color: rgb(161, 135, 185);    
    }



/**/

/**/

/**/

/**/


/**/